# Directories to ignore (do not add trailing '/'s, they skip symlinks).
#==============================================================================#
/build
/dist
/.tox
/yapf.egg-info

#==============================================================================#
# Files to ignore
#==============================================================================#
Pipfile*.*
tmp*.*

