# Directories to ignore (do not add trailing '/'s, they skip symlinks).
#==============================================================================#
/build
/dist

#==============================================================================#
# Files to ignore
#==============================================================================#
tmp*.*

