[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyfiglet = "*"
click = "==8.0.3"
click-help-colors = "==0.9.1"
colorama = "==0.4.6"

[dev-packages]

[requires]
python_version = "3.7"
